*, *:before, *:after {
    box-sizing: border-box;
  } 
  
  body {
    margin: 40px; 
    font-family: 'Open Sans', 'sans-serif';
    background-color: #fff;
    color: #444;
  }
  
  h1, p {
    margin: 0 0 1em 0;
  }
  
  .wrapper > * {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    margin-bottom: 10px;
  }
  
  .wrapper {
     max-width: 940px;
     margin: 0 20px;
     grid-gap: 1px;
  }
  
  .wrapper { 
    display: grid; 
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5,1fr); 
    margin: 0 auto; */
  
  
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: minmax(150px, 1fr); 
  }
  
  .panel { 
  
    /* needed for the flex layout*/
  
    margin-left: 5px;
    margin-right: 5px; 
    flex: 1 1 200px;
    /* grid-row-end: span 2; */ 
  }
  
  .tall-panel {
    grid-row-end: span 2; 
  } 
  
  .header, .footer {
    margin-left: 5px;
    margin-right: 5px;
    flex: 0 1 100%;
    grid-column: 1 / -1;
  }  