.preview {
    width: 90%;
    max-width: 700px;
    border: 1px solid #4d4e53;
    border-radius: 2px;
    padding: 10px 14px 10px 10px;
    margin-bottom: 10px;
  }
  
  .container {
      width: 500px;
      padding: 0.5em;
      border: 5px solid #ccc;
      position: relative;
  }
  
  .target {
      position: absolute;
      top: 1px;
      right:1px;
      width: 150px;
      height: 120px;
      border-radius: 5px;
      background-color: rgb(207 232 220);
      padding: 1em;
  }