.container >p>a{
    color:orange;
  }
  .container>p:first-child{
    font-size:150%;
  }
  .container>p>a:hover{
    text-decoration:none;
  }
  .container>p:first-child:first-line{
    color:red;
  }
  .container>p>a:visited{
    color:green;
  }
  tr:nth-child(even){
    background:#333;
    color:white;
  }
  table{
    border-spacing:0;
    width:20%;
  }