flex css
-----------

/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
/* prettier-ignore */
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html {
    font-size: 18pt;
    /* import below fonts from https://fonts.google.com/ */
    font-family: "Manrope", "Inter", sans-serif;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /* prettier-ignore */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* prettier-ignore */
  input, button, textarea, select {
    font: inherit;
  }
  /* prettier-ignore */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* prettier-ignore */
  #root, #__next {
    isolation: isolate;
  }
  :root {
    --text-color-1: rgba(0, 0, 0, 0.529);
    --text-color-2: #000;
    --background-color1: #fafaf0;
    --background-color2: #f5f4e4;
    --border-color: rgba(0, 0, 0, 0.2);
    --hover-color: #9daba9;
  }
  
  
  
  code {
    font-family: "Lucida Console", "Courier New", monospace;
  }
  
  @media (max-width: 1280px) {
    html {
      font-size: 13pt;
    }
  }
  
  @media (max-width: 736px) {
    html {
      font-size: 11pt;
    }
    
  
  /* p{
    font-size: 15px;
    padding-top:10px;
    padding-bottom:10px;
    width: 80%;
  } */
  
  .main{
    display: block;
    background-color: #fafaf0;
  }

  .content1{
    width: 100%;
    padding:5%;

   }
  
   .content2{
    width: 100%;
   }

   img{
    height:400px;
    width:100%;
    object-fit: fill;
   }
  }
  
  @media (max-width: 480px) {
  }
  
  body{
    color: rgba(0, 0, 0, 0.529);
  
  }
  
  header{
     /* width: 100%; */
     background:#f5f4e4;
     border:100px;
  }
  
  
  p{
    font-size: 15px;
    padding-top:10px;
    padding-bottom:10px;
    width: 80%;
  }
  
  .container{
    padding:50px;
    align-items: center;
    /* margin-left:300px; */
  }
  
  
  .main{
    display: flex;
    background-color: #fafaf0;
  }

  .content1{
    width: 50%;
    padding:5%;

   }
  
   .content2{
    width: 49%;
   }

  img{
    height: 509px;
    width:669.33px;
    background-size: cover;
  }


 

.main1{
    background:#f5f4e4;
    width:100%;
    display: flex;
   justify-content: center;
}

.content3{
    width: 50%;
    padding: 100px;
  }
  
  .content4{
    width: 49%;
    padding:100px;
  }
 
  
  .main2{
    background-color: #fafaf0;
    display: flex;
    align-items: center;
    gap: 70px;
  }
  

  .content6{
    width: 600px;
    
  }
  
  
  img{
    height: 509px;
    width:669.33px;
    background-size: cover;
  }
  
  .main3{
    background:#f5f4e4;
    width:100%;
    align-items: center;
    display: flex;
  }
  
  .content7{
    width: 50%;
    padding: 100px;
  }
  
  .content8{
    width: 49%;
    padding:100px;
  }
  
  
  
  
 
  
  
  .main4{
    background-color: #fafaf0;
    display: flex;
  }
  
   .content9{
    width: 50%;
    padding:100px;
    
   }
  
   .content10{
    width: 49%;
   }

   .btn{
    color: black;
    margin-top: 40px ;
    border:1px solid lightgray;
    border-radius: 20px;
    font-size: 50%;
    padding: 10px 20px 10px 20px;
    background-color: transparent;
  }
  
  .btn:hover{
    background-color:  #9daba9;
  }
  
  footer{
      background-color:#f5f4e4;
  }
  
  .btn9{
    color: black;
    margin-top: 40px ;
    border:1px solid lightgray;
    border-radius: 20px;
    font-size: 50%;
    padding: 10px 20px 10px 20px;
    background-color: transparent;
  }
  
  #email{
    color: black;
    margin-top: 40px ;
    border:1px solid lightgray;
    border-radius: 20px;
    font-size: 50%;
    padding: 10px 20px 10px 20px;
    background-color: transparent;
    width:500px;
  }


  .icons{
    padding:50px 0;
  }
  
  .fa-twitter{
    border:  1px solid gray;
    padding: 10px;
    border-radius: 50px;
    font-size: 20px;
    margin: 0px 6px;  
  }
  
  .fa-facebook{
    border:  1px solid gray;
    padding:  10px 15px 10px 15px  ;
    border-radius: 50px;
    font-size: 20px;
    margin: 0px 6px;
  }
  
  .fa-linkedin{
    border:  1px solid gray;
    padding: 10px 15px 10px 15px ;
    border-radius: 50px;
    font-size: 20px;
    margin: 0px 6px;
  }
  .fa-envelope{
    border:  1px solid gray;
    padding: 10px  ;
    border-radius: 50px;
    font-size: 20px;
    margin: 0px 6px;
  }
