.box {
    width: 500px;
    border:5px dotted;
    margin-top:50px;
    margin-right:1em;
    margin-bottom:40px;
    margin-left:2em;
    padding:1em;
    border-radius:20px;
    background-color:coral;
  }