
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <title>Layout Template</title>
  </head>
  <body>
 
    <header>
      <div class="head-container">
          <p class="p1"><span>Aliquam </span>Consequat</p>
          <h1 class="heading">Sed amet</h1>
          <p class="p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, vero nemo quos accusamus a odio saepe incidunt recusandae inventore doloribus assumenda repellat maiores explicabo expedita impedit nobis! Illo, fuga excepturi</p>
          <button>SAGITTIS &rarr;</button>
    </div>
    </header>
 
 
  <section class="section-one">
 
        <div class="container-1">
            <p class="p1"><span>Nisi</span> Pellentesque</p>
            <h1 class="heading">Morbi tincidunt</h1>
            <p class="p2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta dolores sint esse amet tenetur molestias sequi eligendi culpa, quam natus eveniet enim corporis aperiam at in autem ratione incidunt. Quod..</p>
            <button>LECTUS &rarr;</button>
        </div>
 
        <div class="image-one">
            <img src="assets/image01.jpeg" alt="Mountain">
        </div>
  </section>
       
  <aside>
    <div class="content-1">
        <p class="p1"><span>Dolor</span> Ultrices</p>
        <h1 class="heading">Ullamcorper</h1>
        <p class="p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. At aut quis corporis. Maxime, repellendus, praesentium quo rerum ratione laudantium accusantium iusto corrupti totam officiis temporibus dolorum facilis voluptatem nobis provident!</p>
        <button>MAGNA &rarr;</button>
    </div>
    <div class="content-1">
      <p class="p1"><span>Magna</span> Aenean</p>
      <h1 class="heading">Faucibus</h1>
        <p class="p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius enim magni qui maxime excepturi dolore vero natus odio, facilis possimus totam? Hic quae distinctio praesentium quod quis quo, eum ad!</p>
        <button>TELLUS &rarr;</button>
    </div>
  </aside>
  <!-- </section> -->
 
  <section class="section-two">
   
    <div class="image-two">
        <img src="assets/image02.jpeg" alt="Mountain1">
      </div>
 
      <div class="container-1">
        <p class="p1"><span>Odio</span> veroeros</p>
        <h1 class="heading">Quam nulla</h1>
        <p class="p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora nam, quibusdam quisquam ipsa accusamus molestiae placeat velit porro unde labore iste maxime soluta repudiandae doloremque eos veniam provident numquam commodi?</p>
        <button>EUISMOD &rarr;</button>
    </div>
 
  <aside>
    <div class="content-1">
        <p class="p1"><span>Lorem</span> Pharetra</p>
        <h1 class="heading">Nibh nisl</h1>
        <p class="p2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo repellat nihil accusantium culpa architecto itaque quod rem laboriosam nostrum blanditiis dolores, tempore sequi rerum ea dolor ab exercitationem deserunt ad.</p>
        <button>ULTRICES &rarr;</button>
    </div>
 
    <div class="content-1">
        <p class="p1"><span>Arcu </span>Pretium</p>
        <h1 class="heading">Porttitor</h1>
        <p class="p2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis enim porro magnam, sint illo, similique quidem laborum a praesentium voluptates possimus? Asperiores maiores est architecto tempora dolor, molestiae assumenda soluta!</p>
        <button>PULVINAR &rarr;</button>
    </div>
  </aside>
<!-- </section> -->

 
<section class="section-one">
      <div class="container-1">
          <p class="p1"><span>Nunc</span> Faucibus</p>
          <h1 class="heading">Nisi vitae</h1>
          <p class="p2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur cumque animi inventore quos explicabo adipisci laborum amet molestias, libero reiciendis quod ratione fugiat beatae eum sequi vero rem dolorem pariatur.</p>
          <button>ORNARE &rarr;</button>
      </div>
 
      <div class="image-one">
          <img src="assets/image03.jpeg" alt="Mountain2">
      </div>
</section>
 
    <!-- <footer> -->
        <div class="container-4">
          <p class="p1"><span>Vitae </span>Aliquam</p>
          <h1 class="heading">Auctor Orci</h1>
          <p class="p2">Lorem ipsum Temporibus itaque facilis ducimus. Laudantium qui molestiae nemo iste blanditiis repellat, dolorem omnis sed ab accusamus suscipit nesciunt culpa perspiciatis voluptatem repudiandae!</p>
         
          <form>
          <input type="email" placeholder="Email">
          <button>SUBSCRIBE &rarr;</button>
          </form>
              <br>
              <i class="fa-brands fa-twitter" ></i>
              <i class="fa-brands fa-facebook-f" ></i>
              <i class="fa-brands fa-linkedin-in" ></i>
              <i class="fa-solid fa-envelope"></i>
        </div>
    <!-- </footer> -->
 
  </body>
</html>
 