#element-parent {
  transition: all 0.3s ease-in;
  width: 220px;
  height: 200px;
  border: solid 10px #ffc129;
  margin: 0.8em;
}

.child {
  box-sizing: border-box; /* Changed content-box to border-box for wrapping child inside the parent element*/
  width: 100%; 
  border: 10px solid rgb(91, 109, 205);
  padding: 10px;
}
