.icon-with-badge {
    display: inline-block;
    position: relative;
    /* What should be the display property that allows the container to fit the size of the icon? */
  }
  
  .icon {
      font-size: 48px;
      display: inline-block;
      /* What should be the display property that allows the container to fit the size of the icon? */
  }
  
  .badge {
      /*What should be the position property to have the badge on the top-right corner of the bell?*/
      display: inline-block;
    position:absolute;
      top:0px;
    right:0px;
      background-color: red;
      color: white;
      padding: 0 5px;
      font-size: 12px;
    border-radius:20px;
      height: 20px;
      line-height: 20px;
      min-width: 20px;
      text-align: center;
      box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  }