p:first-of-type{
    color:red;
  }
  
  p:last-of-type{
    color:red;
  }
  .list>li{
    list-style-type:none;
  }
  
  .container{
    border:1px grey solid;
    padding:0px 10px;
  }
  .list>li{
    border-bottom:1px grey solid;
  }