/*Paragraph that directly follows an <h2> element red*/
h2 + p {
  color: red;
}
/*Remove the bullets and add a 1px grey bottom border only to list items that are a direct child of the ul*/
.list > li {
  border-bottom: 1px solid grey;
  list-style-type: none;
}
