#element-parent {
    transition: all .3s ease-in;
    width: 220px;
    height: 200px;
    border: solid 10px #ffc129;
    margin: .8em;
}

.child {
  box-sizing: content-box;
  width: calc(100%-20px);
  border: 10px solid rgb(91, 109, 205);
  padding: 10px;
}