.container>p:first-child:first-line{
    color:red;
  }
  .container>p:first-child{
    font-size:150%;
  }
  a:visited{
    color:green;
  }
  a:hover{
    text-decoration:none;
  }
  tr:nth-child(even){
    color:white;
    background-color:#333;
  }