.box {
    border: 5px solid rebeccapurple;
    background-color: lightgray;
    padding: 40px;
    margin: 40px;
    width: 300px;
    height: 150px;
    transition: all 100ms ease-out;
  }
  
  .alternate {
    box-sizing: border-box;
    width: 390px
  }