/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
/* prettier-ignore */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
  font-size: 18pt;
  /* import below fonts from https://fonts.google.com/ */
  font-family: "Manrope", "Inter", sans-serif;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color-1);
}
/* prettier-ignore */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* prettier-ignore */
input, button, textarea, select {
  font: inherit;
}
/* prettier-ignore */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1 {
  color: var(--text-color-1);
  font-weight: 300;
  font-size: 50px;
  padding: 20px 0;
}

h6 {
  color: var(--text-color-1);
  font-weight: 500;
}

em {
  color: var(--text-color-2);
  padding: 0 2px;
}

body {
  overflow-x: hidden;
}

/* prettier-ignore */
#root, #__next {
  isolation: isolate;
}
:root {
  --text-color-1: rgba(0, 0, 0, 0.529);
  --text-color-2: #000;
  --background-color1: #fafaf0;
  --background-color2: #f5f4e4;
  --border-color: rgba(0, 0, 0, 0.2);
  --hover-color: #9daba9;
}

.btn {
  background: none;
  border: 2px solid var(--border-color);
  color: var(--text-color-2);
  font-size: 8px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  border-radius: 25px;
  padding: 10px 25px;
  margin: 30px 0;
  height: 50px;
  font-size: 10px;
}

.btn:hover {
  background: var(--hover-color);
}

.header {
  background: var(--background-color1);
  padding: 50px 15%;
}

.header p {
  margin-bottom: 20px;
}

.footer {
  background: var(--background-color1); 
  padding: 70px 15%;
}

.img-content {
  display: flex;
  background: var(--background-color2);
  align-items: center;
  align-content: center;
}

.img-content img {
  width: 900px;
  height: 650px;
}

.img-content .text {
  width: 500px;
  height: 600px;
  padding: 50px;
}

.img-content2 {
  display: flex;
  background: var(--background-color2);
  align-items: center;
  align-content: center;
}

.img-content2 img {
  width: 900px;
  height: 650px;
}

.img-content2 .text {
  width: 500px;
  height: 600px;
  padding: 50px;
}

.text-content {
  display: flex;
  background: var(--background-color1);
  padding: 50px 10%;
  justify-content: center;
}

.content-part-left,
.content-part-right {
  padding: 0 50px;
}

.icons svg {
  margin: 5px;
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 6px;
  width: 50px;
  height: 50px;
}

.icons img {
  margin: 5px;
  display: inline-block;
  opacity: 50%;
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 6px;
  width: 50px;
  height: 50px;
}

input {
  display: inline-block;
  vertical-align: middle;
  border-radius: 25px;
  background: none;
  height: 50px;
}

code {
  font-family: "Lucida Console", "Courier New", monospace;
}

.email {
  padding-left: 20px;
  color: var(--border-color);
  border: 1px solid var(--border-color)
}

@media (max-width: 1280px) {
  html {
    font-size: 13pt;
  }
}

@media (max-width: 736px) {
  html {
    font-size: 11pt;
  }

  .header {
    background: var(--background-color1);
    padding: 0 50px;
    padding-top: 50px;
  }

  .img-content {
    display: flex;
    flex-direction: column-reverse;
    background: var(--background-color2);
  }
  
  .img-content img {
    width: 900px;
    height: 300px;
  }
  
  .img-content .text {
    width: 500px;
    height: 400px;
    padding: 50px 0;
  }
  
  .img-content2 {
    display: flex;
    flex-direction: column;
    background: var(--background-color2);
  }
  
  .img-content2 img {
    width: 900px;
    height: 300px;
  }
  
  .img-content2 .text {
    width: 500px;
    height: 400px;
    padding: 50px 0;
  }
  
  .text-content {
    display: flex;
    flex-direction: column;
    background: var(--background-color1);
    padding: 30px 10%;
  }
  
  .content-part-left,
  .content-part-right {
    padding: 0 0px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    padding-top: 50px;
  }

  input {
    display: flex;
    border-radius: 25px;
    background: none;
    margin: 30px 0px;
  }

  body {
    overflow-x: hidden;
  }

  .email {
    width: 100%;
  }

  h6  {
    font-size: 14px;
  }
  }

@media (max-width: 480px) {

  input {
    display: flex;
    border-radius: 25px;
    background: none;
    margin: 30px 0px;
    height: 50px;
  }

  
  body {
    overflow-x: hidden;
  }

  .img-content img {
    height: 250px;
  }

  .img-content2 img {
    height: 250px;
  }

  .img-content .text,
  .img-content2 .text {
    padding: 0 20%;
  }

  .subs {
    width: 100%;
  }
}
