body {
    font-family: Arial, sans-serif;
}

header, nav, main, aside, section, footer {
    padding: 20px;
    margin: 10px;
}

section{
    background-color: grey;
}

header {
    background-color: #ccc;
    border-bottom: 2px solid #000;
    text-align: center;
}
 
h1, h2 {
    color: #000;
}
 
main p, aside p {
    color: #333;
    line-height: 1.6;
}
 
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    height: 30px;
}
 
nav a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    background-color: grey;
    font-weight: bold;
    margin: 0px 6px;
    flex-grow: 1;
    text-align: center;
}
 
nav a:hover {
    background-color: #555;
}

main{
    display: flex;

}

footer {
  border-top: 2px solid black;
}

@media screen and (max-width: 700px) {

    main{
        flex-direction: column;
    }
    body{
        display: flex;
        flex-direction: column;
    }
    nav{
        order: 3;
    }
    footer{
        order: 4;
    }
}