<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <title>Layout Template</title>
  </head>
  <body>

        <div class="card-1">
            <p><span>Aliquam </span>Consequat</p>
            <h1>Sed amet</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, vero nemo quos accusamus a odio saepe incidunt recusandae inventore doloribus.</p>
            <button>SAGITTIS &rarr;</button>
       <!-- </div>  -->
       
       <!-- <div class="card-1"> -->
            <p><span>Nisi</span> Pellentesque</p>
            <h1>Morbi tincidunt</h1>
            <p>Lorem ipsum dolorsit amet consectetur, adipisicing elit. Tenetur cumque animi inventore quos explicabo adipisci laborum amet molestias.</p>
            <button>LECTUS &rarr;</button>
        </div>

  </body>
</html>
