.gallery {
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(3,1fr);
    gap:7px;
 }
 
 img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 
 }
 
 
 img.four-grid-cells {
  grid-area:1/1/3/3;
 }
 
 img.wide-image {
     grid-column:3/5;
 }
 img.mountain{
   order:-2;
 }
 img.wide-images{
   grid-column:2/4;
 }
 