.gallery {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    column-gap:6px;
    row-gap: 6px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


img.four-grid-cells {

}

img.wide-image {

}
