#element-parent {
  transition: all 0.3s ease-in;
  width: 220px;
  height: 200px;
  border: solid 10px #ffc129;
  margin: 0.8em;
}

.child {
  box-sizing: border-box; /*Changed value, content-box to border-box to wrap child inside the parent */
  width: 100%; 
  border: 10px solid rgb(91, 109, 205);
  padding: 10px;
}
